* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


:root {
    --main-font: "Lato", sans-serif;
    --main-color: #ED4C5C;
    --sec-color: #fff;
}

img {
    display: block;
    width: 100%;
}

.relative {
  position: relative;
}
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* flex-box */
.d-flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.jc-center {
    justify-content: center;
}

.fw-w {
    flex-wrap: wrap;
}

/* End of flex-box */

/* text */
.c-white {
    color: #fff;
}

.tt-up {
    text-transform: uppercase;
}






/* ----------- MEDIA -------------- */

/* ----------END OF MEDIA ---------- */